
#about{
    padding: 90px 0 90px 0;
}

#about{
    background: url(../../Images/about.jpg) no-repeat left;
    background-size: 55%;
    background-color: #3C3F41;
    padding: 100px 0;
    overflow: hidden;
}

.about{
    width: 55%;
    float: right;
    background-color: #05EDF8;
    padding: 45px;
}

.about h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #3C3F41;
}

.text{
    font-size: 14px;
    color: #000;
    line-height: 25px;
    text-align: justify
}
